
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FBF7F1;
}

.titulo {
    color: #53240C;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    align-items: center;
    float: top;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100px;
    margin-left: 180px;

}

footer {
    text-align: center;
}


header {
    padding: 30px;
    margin:center;
    text-align: center;
    background-color: #FFE4C4;
    float: top;
    position: relative;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}


.hero {
    
    background-color: #F7EFE4;
    color: rgb(0, 0, 0);
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
    align-items: center;
    
}

.carousel-slide {
    min-width: 100%;
    text-align: center;
    font-size: 32px;
    
}

.carousel-slide img {
    width: 75%;
    height: auto;
    border-radius: 80px;
}

.carousel-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.5rem;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


h2 {
    color: #53240C;
    text-align: center;
    margin: 2rem 0;
}

.recipe-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    width: 150px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card p {
    margin-top: 0.5rem;
    color: #F53E28;
    font-weight: bold;
}

.recipe-display {
    display: none;
    background-color: white;
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-display.visible {
    display: block;
}

.close-btn {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    border: none;
    padding: 1rem;
    cursor: pointer;
    float: right;
    font-size: 1rem;
    border-radius: 50%;
}

.hidden {
    display: none;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #FFE4C4;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: left;
}

.footer-left {
    display: flex;
    align-items: flex-start;
}

.footer-logo {
    margin-left: 20px;
    width: 140px; 
    height: auto;
    margin-right: 90px; 
}

.footer-right {
    margin-right: 180px;
    text-align: left;
}

.footer-right a {
    color: rgb(0, 245, 78);
}

.footer-right a:hover {
    text-decoration: underline;
}


.footer-left p, .footer-right p {
    margin: 10px 0;
}

.grid-container {
    width: 1800px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 200px; 
    align-items: center;
    padding: 20px;
}

.img-container img {
    max-width: 100%;
    height: auto;
}

.text-container {
    font-size: 16px;
    color: #333;
}

.nao_maguento_mais {
    display: flex;
    align-items: center;
    justify-items: center;
}

.small-images {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 100px;
}

.small-images img {
    width: 100px;
    height: auto;
    border: 6px solid #ffffff;
    border-radius: 15px;
}

.large-image img {
    width: 300px;
    height: auto;
    border: 6px solid #ffffff;
    border-radius: 15px;
}


